<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-aliyun-authentication" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AliyunVerify</name>
    <js-module name="AliyunVerify" src="www/AliyunVerify.js">
        <clobbers target="cordova.plugins.AliyunVerify" />
    </js-module>
    <platform name="android">
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference" />
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AliyunVerify">
                <param name="android-package" value="com.aliyun.cordova.verify.AliyunVerify" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <source-file src="src/android/AliyunVerify.java" target-dir="src/com/aliyun/cordova/verify" />
        <resource-file src="src/android/libs/aliyun-oss-sdk-android-2.2.0.jar" target="../../libs/aliyun-oss-sdk-android-2.2.0.jar" />
        <resource-file src="src/android/libs/okhttp-3.2.0.jar" target="../../libs/okhttp-3.2.0.jar" />
        <resource-file src="src/android/libs/okio-1.6.0.jar" target="../../libs/okio-1.6.0.jar" />
        <resource-file src="src/android/libs/windvane-min-8.0.3.2.3.jar" target="../../libs/windvane-min-8.0.3.2.3.jar" />
        <resource-file src="src/android/libs/FaceLivenessOpen-2.1.6.9.aar" target="../../libs/FaceLivenessOpen-2.1.6.9.aar" />
        <resource-file src="src/android/libs/rpsdk-release_2.4.0.2.aar" target="../../libs/rpsdk-release_2.4.0.2.aar" />
        <resource-file src="src/android/libs/NoCaptchaSDK-external-release-5.4.18.aar" target="../../libs/NoCaptchaSDK-external-release-5.4.18.aar" />
        <resource-file src="src/android/libs/SecurityGuardSDK-external-release-5.4.38.aar" target="../../libs/SecurityGuardSDK-external-release-5.4.38.aar" />
        <resource-file src="src/android/libs/SecurityBodySDK-external-release-5.4.28.aar" target="../../libs/SecurityBodySDK-external-release-5.4.28.aar" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="AliyunVerify">
                <param name="ios-package" value="AliyunVerify" />
            </feature>
        </config-file>
        <!-- auth -->
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>The camera is used to Certificate.</string>
        </config-file>
        <!-- source header file -->
        <header-file src="src/ios/AliyunVerify.h" />
        <source-file src="src/ios/AliyunVerify.m" />
        <!-- assets -->
        <resource-file src="src/ios/libs/FaceLivenessSDK.bundle" />
        <resource-file src="src/ios/libs/FaceTheme.bundle" />
        <resource-file src="src/ios/libs/RPSDK.bundle" />
        <!-- framework -->

        <framework src="CoreMedia.framework" />
        <framework src="CoreMotion.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="ImageIO.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="MediaPlayer.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="AddressBook.framework" />
        <framework src="AddressBookUI.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="AudioToolbox.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="Libresolv.tbd" />
        <framework src="WebKit.framework" />
        <framework src="Libiconv.tbd" />
        <framework src="Libc++.tbd" />
        <framework src="Libz.tbd" />
      
        <framework src="src/ios/libs/AliReachability.framework" custom="true" />
        <framework src="src/ios/libs/AliyunOSSiOS.framework" custom="true" />
        <framework src="src/ios/libs/FaceLivenessOpen.framework" custom="true" />
        <framework src="src/ios/libs/RPSDK.framework" custom="true" />
        <framework src="src/ios/libs/SecurityGuardSDK.framework" custom="true" />
        <framework src="src/ios/libs/SGMain.framework" custom="true" />
        <framework src="src/ios/libs/SGNoCaptcha.framework" custom="true" />
        <framework src="src/ios/libs/SGSecurityBody.framework" custom="true" />
        <framework src="src/ios/libs/WindVane.framework" custom="true" />
        <framework src="src/ios/libs/WindVaneBasic.framework" custom="true" />
        <framework src="src/ios/libs/WindVaneBridge.framework" custom="true" />
        <framework src="src/ios/libs/WindVaneCore.framework" custom="true" />
        <framework src="src/ios/libs/ZipArchive.framework" custom="true" />
    </platform>
</plugin>