<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-zhima-verify" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ZhiMaVerify</name>
    <js-module name="ZhiMaVerify" src="www/ZhiMaVerify.js">
        <clobbers target="cordova.plugins.ZhiMaVerify" />
    </js-module>
    
    <platform name="android">
        <framework src="src/android/plugin.gradle" custom="true" type="gradleReference"/>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="ZhiMaVerify">
                <param name="android-package" value="com.zhima.cordova.verify.ZhiMaVerify" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <source-file src="src/android/ZhiMaVerify.java" target-dir="src/com/zhima/cordova/verify" />
        <resource-file src="src/android/libs/ZMCert_SDK.aar" target="libs/ZMCert_SDK.aar" />
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ZhiMaVerify">
                <param name="ios-package" value="ZhiMaVerify" />
            </feature>
        </config-file>
        <source-file src="src/ios/ZhiMaVerify.m" />
    </platform>
</plugin>